@using Microsoft.AspNetCore.Identity
@using ProblemAndSolution.Infrastructure.Entities.Membership
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@section Styles{

}



<div id="questions" class="container">
    <div class="row ">
        <div class="col-md-8">
            <div class="mt-3 pb-3">
                @if (SignInManager.IsSignedIn(User))
                {                   
                        <a href="/ForPost/Question/Create" class="btn btn-outline-info mb-3">Ask Question</a>                   
                }
               else
                {
                    <a href="/Account/Register" class="btn btn-outline-info mb-3">Write Question</a>
                }
                @* <div class="d-flex justify-content-between align-items-center bg-secondary text-white p-3">
                    <div class="bg-info px-3 py-2">@ViewBag.Question Questions</div>
                    <div class="bg-info px-3 py-2">@ViewBag.Answer Answers</div>
                    <div class="bg-info px-3 py-2">@ViewBag.Unasnwers Unanswered Questions</div>
                </div> *@
            </div>
        </div>
    </div>
</div>

<button class="btn btn-outline-dark" onclick="LoadMore()">
    Load More
</button>


@section Scripts{
    <script>
        var index = 1;
        jQuery(document).ready(function ($) {
            LoadQuestion();
        });
        function LoadMore() {
            index += 1;
            console.log(index);
            LoadQuestion();
        }
        function LoadQuestion() {
            $.ajax({
                url: '@Url.Action("PaginatedQuestion", "Home")',
                type: 'POST',
                cache: false,
                data: { 'index': index },
                success: function (result) {
                    assignPost(result);
                },
                error: function (result) { }
            });
        }
    </script>
    <script>
        function assignPost(result) {
            var questionCard = ``;
            for (var i = 0; i < result.length; i++) {
                console.log(result[i]);
                var Id = result[i].id;
                var Title = result[i].title;
                var QuestionBody = result[i].questionBody;
                questionCard = `<div id="${Id}" class="card card-body col-10 rounded border-2 m-1">
                                    <a href="/ForPost/Question/Details/${Id}">
                                        <h3>${Title}</h3>
                                    </a>
                                    <p>${QuestionBody}</p>
                                </div>`;
                $(questionCard).appendTo('#questions');
            }
        }
    </script>
}
