<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4">
                <h5>About This Blog</h5>
                <p>
                    Welcome to our blog! We share the latest insights, tips, and updates on various topics.
                    Stay tuned for great content and feel free to explore!
                </p>
            </div>

            <!-- Navigation Links -->
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">About</a></li>
                    <li><a href="#" class="text-light">Contact</a></li>
                    <li><a href="#" class="text-light">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Contact and Social Media -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>
                    Email: contact@yourblog.com<br />
                    Phone: +123 456 7890
                </p>
                <div>
                    <a href="#" target="_blank" class="text-light me-3">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" target="_blank" class="text-light me-3">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" target="_blank" class="text-light me-3">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" target="_blank" class="text-light">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="text-center pt-3">
            <small>&copy; 2024 Your Blog Name. All Rights Reserved.</small>
        </div>
    </div>
</footer>
