@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Responsive HTML Admin Dashboard Template based on Bootstrap 5">
    <meta name="author" content="NobleUI">
    <meta name="keywords" content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <title>StackOverflow</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->
    <!-- core:css -->

    <link rel="stylesheet" href="~/admin/vendors/core/core.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/admin/images/favicon.png" />
</head>
<body>
    <div class="main-wrapper">
        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">

                <div class="row w-100 mx-0 auth-page">
                    <div class="col-md-8 col-xl-6 mx-auto">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="auth-form-wrapper">
                                    <h5 class="text-muted fw-normal mb-4">Create an StackOverflow account.</h5>
                                    <form class="forms-sample" id="registerForm" asp-action="Register" asp-controller="Account"
                                          asp-area="" asp-antiforgery="true" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label asp-for="FirstName" class="form-label">First Name</label>
                                                <input asp-for="FirstName" class="form-control" autocomplete="First name"
                                                       placeholder="First name" aria-required="true" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="LastName" class="form-label">Last Name</label>
                                                <input asp-for="LastName" class="form-control" autocomplete="Last Name"
                                                       placeholder="Last name" aria-required="true" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label asp-for="Email" class="form-label">Email</label>
                                                <input asp-for="Email" class="form-control" autocomplete="Email"
                                                       placeholder="Email" aria-required="true" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label asp-for="Password" class="form-label">Password</label>
                                                <input asp-for="Password" class="form-control" autocomplete="Password"
                                                       placeholder="Password" aria-required="true" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="ConfirmPassword" class="form-label">Confirm password</label>
                                                <input asp-for="ConfirmPassword" class="form-control" autocomplete="ConfirmPasswordPhone Number"
                                                       placeholder="ConfirmPassword" aria-required="true" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <button id="registerSubmit" type="submit" class="btn btn-primary text-white me-2 mb-2 mb-md-0">Sign up</button>
                                        </div>
                                        <a class="d-block mt-3 text-muted" asp-area="" asp-controller="Account" asp-action="Login">Already a user? Sign in</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- core:js -->
    <script src="~/admin/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/vendors/feather-icons/feather.min.js"></script>
    <script src="~/admin/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <!-- JQuery Validate Js -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    </body>
    </html>


