html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 70px;
    /*padding-top: 70px;*/ /* To avoid content overlapping the navbar */
}


.stylish-font {
    font-family: 'Pacifico', cursive; /* Custom Google Font */
    font-size: 20px;
    color: #ff6347; /* Tomato color */
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.pagination {
    display: flex;
    justify-content: right;
}

    .pagination a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        /* Style the active/current link */
        .pagination a.active {
            background-color: rgb(169, 30, 255);
            color: white;
        }

        /* Add a grey background color on mouse-over */
        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }


/*//////
*/
:root {
    --primary-color: #4CAF50; /* Green */
    --secondary-color: #FFC107; /* Amber */
    --background-color: #f8f9fa; /* Light background */
}


.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.container {
    margin-top: 60px; /* Adjust if needed */
}

/*new css*/

body.light-theme {
    --primary-color: #007BFF; /* Blue */
    --background-color: #f2f2f2; /* White */
    --text-color: #000000; /* Black */
}

body.dark-theme {
    --primary-color: #FFC107; /* Amber */
    --background-color: #333333; /* Dark Gray */
    --text-color: #FFFFFF; /* White */
}

/*nav {
    position: sticky;
    top: 0;*/ /* The navbar will stick to the top of the page */
    /*z-index: 1030;*/ /* Ensures the navbar is above other elements */
    /*background-color: #007BFF;*/ /* Matches your theme */
    /*color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/ /* Optional shadow for aesthetics */
/*}*/
